@using ThanhHuongSolution.Models.Product;
@model ListProductModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="ThanhHuongSolution" ng-controller="ProductController">
    <header class="page-header">
        <h2>Quản Lý Sản Phẩm</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Quản Lý Sản Phẩm</span></li>

            </ol>

            <a class="sidebar-right-toggle"></a>
        </div>
    </header>

    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Danh Sách Sản Phẩm</h2>
        </header>
        <div class="panel-body" ng-init="init(@Json.Encode(Model))">
            <div class="pull-right form-inline">
                <button type="button" class="btn btn-success" href="#" data-toggle="modal" data-target="#detailCustomerFormModal" ng-click="viewCustomer('')"><i class="fa fa-user-plus"></i>Thêm Sản Phẩm</button>
                <input type="text" class="form-control" placeholder="Search..." ng-model="query" ng-keydown="searchKeyDown($event)">
            </div>

            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Mô tả</th>
                        <th>Loại</th>
                        <th class="hidden-phone">Đơn vị tính</th>
                        <th class="hidden-phone">Giá sỉ</th>
                        <th class="hidden-phone">Giá lẻ</th>
                        <th class="hidden-phone">Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX" ng-repeat="product in products">
                        <td>{{product.TrackingNumber}}</td>
                        <td>{{product.Name}}</td>
                        <td>{{product.Description}}</td>
                        <td class="center hidden-phone">{{product.ProductType}}</td>
                        <td class="center hidden-phone">{{product.UnitType}}</td>
                        <td class="center hidden-phone">{{product.WholesalePrice}} VND</td>
                        <td class="center hidden-phone">{{product.RetailPrice}} VND</td>
                        <td class="center hidden-phone">{{product.Number}}</td>
                        <td class="center hidden-phone">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#detailProductFormModal" ng-click="viewProduct(product.Id)"><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn btn-danger" ng-click="deleteProduct(product.Id)"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-right form-inline">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
            @Html.Partial("_DetailProduct")
        </div>
    </section>
</div>

<script src="/Vendor/angular/angular.min.js"></script>
<script src="~/Scripts/Product/ProductController.js"></script>
