@using ThanhHuongSolution.Models.Customer;
@model ListCustomerModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="ThanhHuongSolution" ng-controller="CustomerController">
    <header class="page-header">
        <h2>Danh Sách Khách Hàng</h2>
    </header>

    <section class="panel">
        <div class="panel-body" ng-init="init(@Json.Encode(Model))">
            <div class="pull-right form-inline">
                <button type="button" class="btn btn-success" href="#" data-toggle="modal" data-target="#detailCustomerFormModal" ng-click="viewCustomer('')"><i class="fa fa-user-plus"></i>Thêm Khách Hàng</button>
                <input type="text" class="form-control" placeholder="Search..." ng-model="query" ng-keydown="searchKeyDown($event)">
            </div>

            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Mã Khách Hàng</th>
                        <th>Tên Khách Hàng</th>
                        <th>Số Điện Thoại</th>
                        <th>Địa Chỉ</th>
                        <th class="hidden-phone">Tồn Nợ</th>
                        <th class="hidden-phone">Lịch Sử Mua Bán</th>
                        <th class="hidden-phone"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX" ng-repeat="customer in customers">
                        <td>{{customer.TrackingNumber}}</td>
                        <td>{{customer.Name | limitTo:20}} {{customer.Name.length < 20 ? '' : '...'}}</td>
                        <td>{{customer.PhoneNumber}}</td>
                        <td class="hidden-phone">{{customer.Address | limitTo:20}} {{customer.Address.length < 20 ? '' : '...'}}</td>
                        <td class="hidden-phone">{{customer.LiabilityAmount}} VND</td>
                        <td class="hidden-phone">
                            <button type="button" class="mb-xs mt-xs mr-xs btn btn-info">Xem Lịch Sử</button>
                        </td>
                        <td class="hidden-phone">
                            <button type="button" class="btn btn-default" ng-click="setVIPCustomer(customer.Id, customer.IsVIP)"><i ng-class="{ 'color-yellow': customer.IsVIP}" class="fa fa-star fa-lg"></i></button>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#detailCustomerFormModal" ng-click="viewCustomer(customer.Id)"><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn btn-danger" ng-click="deleteCustomer(customer.Id)"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-right form-inline">
                <div class="table-pagination">
                    <uib-pagination boundary-links="true" total-items="totalCustomers" ng-model="pageIndex" max-size="maxSize" class="pagination pagination-ru" rotate="false" items-per-page="recordPerPage" ng-change="onChangePageIndex()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div>
            </div>
            @Html.Partial("_DetailCustomer")
        </div>
    </section>
</div>

<script src="/Vendor/angular/angular.min.js"></script>
<script src="~/Scripts/Customer/CustomerController.js"></script>
<script type="text/javascript" src="~/Scripts/CommonHelper/ChooseFileHelper.js"></script>
