@using ThanhHuongSolution.Models.Customer;
@model ListCustomerModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="ThanhHuongSolution" ng-controller="CustomerController">
    <header class="page-header">
        <h2>Quản Lý Khách Hàng</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Quản Lý Khách Hàng</span></li>

            </ol>

            <a class="sidebar-right-toggle"></a>
        </div>
    </header>

    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Danh Sách Khách Hàng</h2>
        </header>
        <div class="panel-body" ng-init="init(@Json.Encode(Model))">
            <div class="pull-right form-inline">
                <button type="button" class="btn btn-success" href="#" data-toggle="modal" data-target="#detailCustomerFormModal" ng-click="viewCustomer('')"><i class="fa fa-user-plus"></i>Thêm Khách Hàng</button>
                <input type="text" class="form-control" placeholder="Search..." ng-model="query" ng-keydown="searchKeyDown($event)">
            </div>

            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Mã Khách Hàng</th>
                        <th>Tên Khách Hàng</th>
                        <th>Số Điện Thoại</th>
                        <th>Địa Chỉ</th>
                        <th class="hidden-phone">Tồn Nợ</th>
                        <th class="hidden-phone">Lịch Sử Mua Bán</th>
                        <th class="hidden-phone"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX" ng-repeat="customer in customers">
                        <td>{{customer.TrackingNumber}}</td>
                        <td>{{customer.Name}}</td>
                        <td>{{customer.PhoneNumber}}</td>
                        <td class="center hidden-phone">{{customer.Address}}</td>
                        <td class="center hidden-phone">{{customer.LiabilityAmount}} VND</td>
                        <td class="center hidden-phone">
                            <button type="button" class="mb-xs mt-xs mr-xs btn btn-info">Xem Lịch Sử</button>
                        </td>
                        <td class="center hidden-phone">
                            <button type="button" class="btn btn-default" ng-click="setVIPCustomer(customer.Id, customer.IsVIP)"><i ng-class="{ 'color-yellow': customer.IsVIP}" class="fa fa-star fa-lg"></i></button>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#detailCustomerFormModal" ng-click="viewCustomer(customer.Id)"><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn btn-danger" ng-click="deleteCustomer(customer.Id)"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            @Html.Partial("_DetailCustomer")
        </div>
    </section>
</div>

    <script src="/Vendor/angular/angular.min.js"></script>
    <script src="~/Scripts/Customer/CustomerController.js"></script>
