<div class="ibox ibox-transparent">
    <div class="ibox-content">
        <form action="/Account/Login">
            <input type="text" class="form-control" name="username" />

            <input type="password" class="form-control" name="password" />

            <div class="m-t-md m-b-md" id="container-submit">
                <input type="submit" class="btn btn-success btn-block" value="Log in">
            </div>
        </form>
    </div>
</div>