<div id="detailBillingFormModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form name="form_customer_details" novalidate enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Hóa Đơn</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6" ng-if="customerId != ''">
                                    <div class="form-group">
                                        <label class="control-label">Mã Phiếu</label>
                                        <input type="text" name="TrackingNumber" ng-disabled="true" ng-model="trackingNumber" class="form-control" required>
                                        <span class="color-red" data-valmsg-for="TrackingNumber" data-valmsg-replace="true" ng-show="form_customer_details.TrackingNumber.$dirty && form_customer_details.TrackingNumber.$error.required">
                                            <span for="Name">Vui lòng nhập Mã Khách Hàng.</span>
                                        </span>
                                    </div>
                                </div>
                                <div ng-class="customerId != '' ? 'col-md-6' : 'col-md-12'">
                                    <div class="form-group">
                                        <label class="control-label">Ngày Lập</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input class="form-control" ng-disabled="true" ng-model="createBillDate">
                                        </div>
                                        <span class="color-red" data-valmsg-for="Name" data-valmsg-replace="true" ng-show="form_customer_details.Name.$dirty && form_customer_details.Name.$error.required">
                                            <span for="Name">Vui lòng nhập Tên Khách Hàng.</span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Mã KH</label>
                                        <input type="text" name="CustomerTrackingNumber" ng-model="customerTrackingNumber" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Tên KH</label>
                                        <input type="text" name="CustomerName" ng-model="customerName" min="0" class="form-control">
                                    </div>
                                    <span class="color-red" data-valmsg-for="LiabilityAmount" data-valmsg-replace="true" ng-show="form_customer_details.LiabilityAmount.$dirty && form_customer_details.LiabilityAmount.$error.min">
                                        <span for="LiabilityAmount">Tồn nợ phải lớn hơn hoặc bằng 0.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-responsive table-striped">
                                        <thead>
                                            <tr>
                                                <th>Mã SP</th>
                                                <th>Tên SP</th>
                                                <th>Đơn Giá</th>
                                                <th>Số Lượng</th>
                                                <th>Thành Tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeX" ng-repeat="item in cart">
                                                <td>{{item.ProductTrackingNumber}}</td>
                                                <td>{{item.ProductName}}</td>
                                                <td>{{item.Price}}</td>
                                                <td>{{item.Number}}kg</td>
                                                <td>{{item.Price * item.Number}}</td>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6 center">
                            <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-default"><i class="fa fa-print"></i></button>
                            <button type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-warning" ng-click="">Trở Về</button>
                        </div>
                        <div class="col-md-6 col-xs-6 text-left">
                            <div class="m-none">
                                <h4>Thành Tiền : {{totalAmount}} VND</h4>
                            </div>
                            <div class="m-none">
                                <h4>Đã Thanh Toán : 100.000.000 VND</h4>
                            </div>
                            <div class="m-none">
                                <h4>Còn Lại : 60.000.000 VND</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>