@using ThanhHuongSolution.Models.Billing;
@model BillingCustomerModel

@{
    ViewBag.Title = "Danh Sách Hóa Đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="ThanhHuongSolution" ng-controller="BillingController">
    <header class="page-header">
        <h2>Danh Sách Hóa Đơn</h2>
    </header>

    <div class="panel-body" ng-init="init(@Json.Encode(Model))">
        <div class="pull-right form-inline">
            <a type="button" class="btn btn-success" href="/Selling/Index"><i class="fa fa-user-plus"></i>Tạo Hóa Đơn</a>

            <div class="input-group" ng-show="isSearchName == true">
                <input type="text" class="form-control" placeholder="Tìm kiếm..." ng-model="query" ng-keydown="searchKeyDown($event)">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" ng-click="changeSearchMode()"><i class="fa fa-sort-alpha-asc"></i></button>
                </span>
            </div>

            <div class="input-group" ng-show="isSearchName == false">
                <input type="text" id="search_date" ui-mask="99/99/9999" model-view-value="true" ui-mask-placeholder class="form-control" placeholder="Tìm kiếm..." ng-model="query" ng-keydown="searchKeyDown($event)">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" ng-click="changeSearchMode()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>

        </div>

        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#" ng-click="switchSellingBill()">Hóa Đơn Bán Hàng</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#" ng-click="switchReceivingBill()">Hóa Đơn Nhập Hàng</a>
                </li>
            </ul>
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Mã Hóa Đơn</th>
                        <th ng-if="billType == 'BILL'">Tên Khách Hàng</th>
                        <th>Ngày Lập</th>
                        <th>Thành Tiền</th>
                        <th ng-if="billType == 'RECEIVING_BILL'">Chi Phí Phát Sinh</th>
                        <th ng-if="billType == 'RECEIVING_BILL'">Tổng Thành Tiền</th>
                        <th class="hidden-phone"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX" ng-repeat="bill in bills">
                        <td>{{bill.TrackingNumber}}</td>
                        <td ng-if="billType = 'BILL'">{{bill.Customer.CustomerName}}</td>
                        <td>{{bill.BillCreatedDate}}</td>
                        <td class="hidden-phone">{{bill.TotalAmount}} VND</td>
                        <td class="hidden-phone" ng-if="billType == 'RECEIVING_BILL'">{{bill.IncurredCost}} VND</td>
                        <td class="hidden-phone" ng-if="billType == 'RECEIVING_BILL'">{{bill.FinalTotalAmount}} VND</td>
                        <td class="hidden-phone">
                            <button type="button" class="mb-xs mt-xs mr-xs btn btn-info" data-toggle="modal" data-target="#detailBillingFormModal" ng-click="viewBill(bill.Id)">Xem Chi Tiết</button>

                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="pull-right form-inline">
                <div class="table-pagination">
                    <uib-pagination boundary-links="true" total-items="totalBillings" ng-model="pageIndex" max-size="maxSize" class="pagination pagination-ru" rotate="false" items-per-page="recordPerPage" ng-change="onChangePageIndex()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div>
            </div>
            @Html.Partial("_DetailBilling")
        </div>
    </div>
</div>

<script src="/Vendor/angular/angular.min.js"></script>
<script src="/Vendor/angular-ui-mask/dist/mask.js"></script>
<script src="~/Scripts/Billing/BillingController.js"></script>