@using ThanhHuongSolution.Models.Billing;
@model ListBillingModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="ThanhHuongSolution" ng-controller="BillingController">
    <header class="page-header">
        <h2>Danh Sách Hóa Đơn</h2>
    </header>

    <div class="panel-body" ng-init="init(@Json.Encode(Model))">
        <div class="pull-right form-inline">
            <button type="button" class="btn btn-success" href="#" data-toggle="modal" data-target="#modalAdd"><i class="fa fa-user-plus"></i>Tạo Hóa Đơn</button>
            <input type="text" class="form-control" placeholder="Search...">
        </div>

        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Mã Hóa Đơn</th>
                    <th>Tên Khách Hàng</th>
                    <th>Tổng Số Lượng</th>
                    <th>Các Mặt Hàng</th>
                    <th class="hidden-phone"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="gradeX" ng-repeat="bill in bills">
                    <td>{{bill.TrackingNumber}}</td>
                    <td>{{bill.TrackingNumber}}</td>
                    <td>{{bill.TotalAmount}}</td>
                    <td class="hidden-phone">10,000,000 VND</td>
                    <td class="hidden-phone">
                        <button type="button" class="mb-xs mt-xs mr-xs btn btn-info">Xem Lịch Sử</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="/Vendor/angular/angular.min.js"></script>
<script src="~/Scripts/Billing/BillingController.js"></script>