@using ThanhHuongSolution.Models.Billing;
@model ListBillingModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="ThanhHuongSolution" ng-controller="BillingController">
    <header class="page-header">
        <h2>Danh Sách Hóa Đơn</h2>
    </header>

    <div class="panel-body" ng-init="init(@Json.Encode(Model))">
        <div class="pull-right form-inline">
            <button type="button" class="btn btn-success" href="#" data-toggle="modal" data-target="#modalAdd"><i class="fa fa-user-plus"></i>Tạo Hóa Đơn</button>

            <div class="btn-group form-control btn-group-search has-feedback">
                <input type="text" class="form-control" ng-show="isSearchName == true" placeholder="Tìm kiếm..." ng-model="query" ng-keydown="searchKeyDown($event)">
                <input id="search_date" ui-mask="99/99/9999" model-view-value="true" ui-mask-placeholder type="text" ng-show="isSearchName == false" class="form-control" placeholder="Tìm kiếm..." ng-model="query" ng-keydown="searchKeyDown($event)">
                <a id="search_name_enable" data-toggle="tooltip" tooltip data-placement="bottom" title="Tìm theo mã hoá đơn" class="search_by name" ng-click="changeSearchMode()">T</a>
                <a id="search_date_enable" data-toggle="tooltip" tooltip data-placement="bottom" title="Tìm theo ngày lập" class="search_by date" ng-click="changeSearchMode()">N</a>
                <i class="fa fa-search form-control-feedback"></i>
            </div>
        </div>

        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Mã Hóa Đơn</th>
                    <th>Tên Khách Hàng</th>
                    <th>Ngày Lập</th>
                    <th>Thành Tiền</th>
                    <th class="hidden-phone"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="gradeX" ng-repeat="bill in bills">
                    <td>{{bill.TrackingNumber}}</td>
                    <td>{{bill.Customer.CustomerName}}</td>
                    <td>{{bill.BillCreatedDate}}</td>
                    <td class="hidden-phone">{{bill.TotalAmount}} VND</td>
                    <td class="hidden-phone">
                        <button type="button" class="mb-xs mt-xs mr-xs btn btn-info">Xem Chi Tiết</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="/Vendor/angular/angular.min.js"></script>
<script src="~/Scripts/Billing/BillingController.js"></script>